:root {
    --cyan: #66E2DC;
    --orange: #FA7453;
    --yellow: #FFB964;
    --white: #FCFAF9;
    --slate: #191826;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    background-image: url(./img/bg-main.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: var(--slate);
}

h1 {
    font-weight: 700;
    font-size: 80px;
}

p {
    font-size: 20px;
}

.custom-height {

    position: relative;
}

.w-80 {
    width: 80%;
}

.background-img {
    /* Adjust the height to be proportional */
    z-index: 1;
}

.phone {
    z-index: 2;
    /* Ensure it appears above the background */
}

.card {
    z-index: 2;
    /* Ensure the card appears above the background image */
    background-color: #FA7453;
    height: 600px;
    width: 512px;
}